<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.vuevbenadminboot.mapper.MallResourceRelMapper">

    <resultMap id="BaseResultMap" type="com.boot.vuevbenadminboot.domain.MallResourceRel">
            <id property="id" column="id" />
            <result property="resourceType" column="resource_type" />
            <result property="resourceId" column="resource_id" />
            <result property="fileId" column="file_id" />
            <result property="usageType" column="usage_type" />
            <result property="sortOrder" column="sort_order" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,resource_type,resource_id,file_id,usage_type,sort_order,
        create_time
    </sql>
</mapper>
